doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Home
    link(rel='stylesheet', type='text/css', href='semantic/dist/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='style.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='semantic/dist/semantic.min.js')
    script(type='text/javascript', src='node_modules/semantic-ui-calendar/dist/calendar.min.js')
    link(rel='stylesheet', href='node_modules/semantic-ui-calendar/dist/calendar.min.css')
  body
    .ui.container.index
      .ui.pointing.menu
        ul
          li
            b +
            a(href='form.html')
              i Upload your CV
      .mainButton
        .ui.massive.buttons.home
          button.ui.button(type='button', name='sortByStudents' onclick="sortByStudents()") Students
          .or
          button.ui.positive.button(type='button', name='sortByProfessors' onclick="sortByProfessors()") Professors
      .mainSearch
        .ui.huge.search
          .ui.icon.input
              input.prompt(type='text', id="fname", onkeyup="search()", placeholder="Search by person's name, skills, status...")
              i.search.icon
          .results
      .ui.hidden.divider
      div(class="UserCVContainer")
        - var count = 0;
        each n in message
          div(class="myDiv")
            form(class="itemBox" name='CVPicker' action='/dynamic' id="form_id_" + count onclick="submit(event.target.getAttribute('id'))" method='post' target="_blank")
              .item
                .content
                if n.academicStatus.includes("student") 
                  img.ui.tiny.avatar.image(src='pics/student.png', align="center")
                else
                  img.ui.tiny.avatar.image(src='pics/professor.png', align="center")
              div
                div
                  label(style="font-size:75%")= n.firstName
                  input(type="hidden" name="_id" value=n._id)
                  input(type="hidden" name="name" value=n.firstName)
                  label(style="font-size:75%")= n.lastName
                div
                  label#status(style="font-size:75%" name="acad")= n.academicStatus
                  - count = count + 1;
                div
                  input(type="hidden" name="tags" value=n.tags)
                  - for(var i = 0; i < 3;i++)
                    label(style="font-size:75%")=n.tags[i]
      .ui.hidden.divider
      div(class="clearButton")
        button.ui.basic.button(type="button" onclick="resetList()")
          i.window.close.outline.icon
          |   Reset
          
      script(type='text/javascript').
      
        var wasSorted = false;
        
        //This function is triggered when the students button is clicked
        //and sorts the list so only studens are visible
        function sortByStudents() {
          var div = document.querySelectorAll(".myDiv");
          var ac = document.getElementsByName("acad");
          var btn = document.querySelectorAll(".clearButton")[0];
          
          if (wasSorted)
            resetList();
            
          for (var i = 0; i < div.length; ++i) {
            txtValue = ac[i].textContent || ac[i].innerText;
            if (txtValue.includes("professor"))
              div[i].style.display = "none";
          }
          
          btn.style.visibility = "visible";
          wasSorted = true;
        }
        
        //This function is triggered when the professors button is clicked
        //and sorts the list so only professors are visible
        function sortByProfessors() {
          var div = document.querySelectorAll(".myDiv");
          var ac = document.getElementsByName("acad");
          var btn = document.querySelectorAll(".clearButton")[0];
          
          if (wasSorted)
            resetList();
            
          for (var i = 0; i < div.length; ++i) {
            txtValue = ac[i].textContent || ac[i].innerText;
            if (txtValue.includes("student"))
              div[i].style.display = "none";
          }
          
          btn.style.visibility = "visible";
          wasSorted = true;
        }
        
        //Resets the list to the disered sorting
        function resetList() {
          var div = document.querySelectorAll(".myDiv");
          var ac = document.getElementsByName("acad");
          var btn = document.querySelectorAll(".clearButton")[0];
          var input = document.getElementById("fname");
          
          for (var i = 0; i < div.length; ++i)
            div[i].style.display = "";
            
          btn.style.visibility = "hidden";
          wasSorted = false;
          input.value = "";
        }
        
        function submit(count){
          document.getElementById(count).submit();
        }
        
        function search() {
          var input = document.getElementById("fname");
          var div = document.querySelectorAll(".myDiv");
          var filter = input.value.toUpperCase();
          var name = document.getElementsByName("name");
          var btn = document.querySelectorAll(".clearButton")[0];
          var tags = document.getElementsByName("tags");

          btn.style.visibility = "visible";
          
          for(var i = 0; i < div.length; i++){
            if (div[i].style.display == "") {
              if((name[i].value.toUpperCase().indexOf(filter) > -1) || (tags[i].value.toUpperCase().indexOf(filter) > -1))
                div[i].style.display="";
              else
                div[i].style.display="none";
            }
          }
        }
          
